@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

:root {
  --main-color: blue;
  --hover-color: greenyellow;
}

html {
    font-size: 62.5%;
    color: var(--main-color);
  }
  body {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .journal-container {
    border: var(--main-color) 3px dotted;
    min-height: 98vh;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h2, h3, h4, h5, h6 {
    margin: 3.8rem 0 1.6rem;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 7.2rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 2.4rem;
  }
  p, ul, ol {
    font-size: 1.8rem;
    margin: 0 0 0.8em;
  }
  ul {
    list-style-type: circle;
  }
  a {
    text-decoration: none;
    color: var(--main-color);
  }
  a:hover {
    text-decoration: underline;
    font-style: italic;
    background: var(--hover-color);
  }
  article {
    padding: 2rem 1rem;
    max-width: calc(44em + 2rem);
    margin: 0 auto;
  }
  