{{ define "page" }}
<article class="container">
  {{ if ne .Kind "home" }}
  <a href="{{ .Site.Home.RelPermalink }}">🏡 home</a>
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ range .Sections }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>
      </li>
    {{ end }}
  </ul>
  {{ end }}
  <ul>
    {{ range .RegularPages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ or .Title .RelPermalink }}</a>
      </li>
    {{ end }}
  </ul>
</article>
{{ end }}